/* The area below to the next break will handle styling for the base page and the template.html file */
::-webkit-scrollbar {
    width: 5px;
}

body {
    margin: 0;
    width: 100vw;
    height: fit-content;
    padding: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    background-color: black;
}

#content {
    display: grid;
    justify-content: center;
    align-items: center;  
    width: 100%;
    height: fit-content;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: black;
    opacity: 97%;
}
/* The area below will handlt the header and footer sections */
#header {
    background-color: black;
    color: white;
}

nav {
    padding-top: 2%;
    font-size: 22px;
    display: flex;
    width: 100%;
    justify-content: center;
}

#title {
    font-size: 44px;
    margin: 0;
    text-shadow: 2px 2px grey;
    text-align: center;
    padding-top: 2%;
    color: gold;
}

button {
    font-size: 18px;
    padding: 1%;
    font-style: italic;
    background-color: black;
    border-radius: 6px;
    text-shadow: 1px 1px grey;
    color:gold;
    cursor: pointer;
    text-align: center;
    width: 10%;
}

footer {
    width: 100%;
    text-align: center;
    background-color: black;
    font-style: italic;
    color: gold;
    text-shadow: 1px 1px grey;
}

/* The area below to the next breakpoint will handle all the homepage styling */
#insideBox {
    border: 1px solid gold;
    width: fit-content;
    padding-top: 4%;
    padding-bottom: 4%;
    background-color: aliceblue;
    opacity: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
    box-shadow: 1px 1px gold,1px 1px yellow;
    width: max-content;
}

#homeTitle {
    padding: 1%;
    font-size: 44px;
    text-align: center;
    color: gold;
    text-shadow: 3px 3px black;
}

#motoBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-style: italic;
    height: fit-content;
    padding: 1%;
}

#innerMoto {
    font-size: 18px;
    width: 50%;
    padding-bottom: 4%;
}

#motoTitle {
    font-size: 24px;
    font-weight: 400;
    padding-top: 3%;
    padding-bottom: 3%;
}

#hoursBox {
    display: grid;
    grid-template-rows: auto;
    padding: 4%;
    padding-top: 8%;
    padding-bottom: 8%;
    font-size: 24px;
    width: fit-content;
    height: fit-content;
    border: 1px solid yellow;
    border-radius: 10px ;
    background-color: black;
    color: aliceblue;
    cursor: pointer;
}

#hoursBox:hover {
    font-size: 26px;
    box-shadow: 3px 3px yellow, -3px -3px gold;
}

#firstHours,#secondHours,#thirdHours,#fourthHours,#fiveHours {
    padding-top: 10px;
    padding-bottom: 10px;
    text-shadow: 1px 1px gold;
}

#phoneBox {
    font-size: 18px;
    padding-top: 5%;
    font-style: italic;
    font-weight: 700;
}

/* Everything below until the next break will handle the menu page look */

#menuTitle {
    font-size: 44px;
    width: max-content;
    color: gold;
    text-shadow: 2px 2px black;
    padding-bottom: 5%;
    font-style: italic;
}

#notice {
    font-size: 14px;
    font-style: italic;
    padding-bottom: 2%;
}

.images {
    width: 30%;
    border-radius: 80px;
    border: 2px solid black;
    cursor: pointer;
}

#menuBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#menuOne {
    font-size: 24px;
    padding-top: 2%;
    padding-bottom: 2%;
}

#descriptionOne {
    width: 50%;
    font-size: 18px;
    font-style: italic;
    padding-bottom: 2%;
}

#menuTwo {
    font-size: 24px;
    padding-top: 2%;
    padding-bottom: 2%;
}

#descriptionTwo {
    font-size: 18px;
    width: 50%;
    font-style: italic;
    padding-bottom: 2%;
}

#menuThree {
    font-size: 24px;
    padding-top: 2%;
    padding-bottom: 2%;
}

#descriptionThree {
    font-size: 18px;
    width: 50%;
    font-style: italic;
    padding-bottom: 2%;
}